<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG IN</title>
</head>
<style>
    .form-control{
        width: 100px;
    }
</style>
<body>
    <h2>Log In</h2>
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <h3>Dont have an account?</h3>
    <a class="link-primary" href="{% url 'account_signup' %}">Click here to Sign up</a>

</body>
</html>